flows.json
[
    {
        "id": "25dceb91744b787a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "91f6b74b99739ff8",
        "type": "inject",
        "z": "25dceb91744b787a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "7200",
        "crontab": "",
        "once": true,
        "onceDelay": 2,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "flows_check_cache"
            ]
        ]
    },
    {
        "id": "1d1426e4400ad2d2",
        "type": "http request",
        "z": "25dceb91744b787a",
        "name": "Fetch Starlink TLEs",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://celestrak.org/NORAD/elements/gp.php?GROUP=starlink&FORMAT=csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 290,
        "y": 120,
        "wires": [
            [
                "flows_handle_resp"
            ]
        ]
    },
    {
        "id": "63d11b6089f4aab0",
        "type": "file in",
        "z": "25dceb91744b787a",
        "name": "SatData",
        "filename": "/data/sat.csv",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 160,
        "y": 440,
        "wires": [
            [
                "ebd30e47765409ed"
            ]
        ]
    },
    {
        "id": "7ea6a0d593172a5a",
        "type": "function",
        "z": "25dceb91744b787a",
        "name": "F(x): Parse and Calculate Live Positions",
        "func": "// Issues #1 #2 #4 #5 fixed; Issue #10 TLE age added\nconst deg2rad = Math.PI / 180;\nconst Re = 6371, h = 550;\nconst OBSERVER_LAT = 51.0447;   // Calgary, AB \u2014 change via Settings page in AllCharts\nconst OBSERVER_LON = -114.0719;\nconst obs_lat = OBSERVER_LAT * deg2rad;\nconst obs_lon = OBSERVER_LON * deg2rad;\n\n// Issue #5: use pre-parsed array (set once on fetch, not re-parsed every tick)\nconst parsedSats = global.get('parsedSats');\nif (!parsedSats || parsedSats.length === 0) return null;\n\nconst now  = Date.now();\nconst GAST = (280.46061837 + 360.98564736629 * (now - 946728000000) / 86400000) % 360;\n\nlet hist = global.get('satHistory') || {};\nconst sats = [];\n\nfor (const sat of parsedSats) {\n    const { name, n, inc, raan, argp, M0, epoch } = sat;\n    const M    = (M0 + n * (now - epoch) / 86400000 * 360) % 360;\n    const u    = (argp + M) * deg2rad;\n    const ir   = inc * deg2rad;\n    const slat = Math.asin(Math.max(-1, Math.min(1, Math.sin(ir) * Math.sin(u))));\n    // Issue #2 fix: correct normalization handles both > 180 and < -180\n    let slon = ((raan + Math.atan2(Math.cos(ir)*Math.sin(u), Math.cos(u))/deg2rad) - GAST + 540) % 360 - 180;\n\n    const dlon  = slon * deg2rad - obs_lon;\n    const cos_c = Math.sin(obs_lat)*Math.sin(slat) + Math.cos(obs_lat)*Math.cos(slat)*Math.cos(dlon);\n    if (cos_c < Re/(Re+h)) continue;\n    const c  = Math.acos(Math.max(-1, Math.min(1, cos_c)));\n    const el = Math.atan((cos_c - Re/(Re+h)) / Math.sin(c)) / deg2rad;\n    if (el <= 0) continue;\n    const az = (Math.atan2(\n        Math.sin(dlon)*Math.cos(slat),\n        Math.cos(obs_lat)*Math.sin(slat) - Math.sin(obs_lat)*Math.cos(slat)*Math.cos(dlon)\n    ) / deg2rad + 360) % 360;\n    const lat = +(slat/deg2rad).toFixed(3);\n    const lon = +slon.toFixed(3);\n    if (!hist[name]) hist[name] = [];\n    hist[name].push({t:now, el:+el.toFixed(2), az:+az.toFixed(2), lat, lon});\n    hist[name] = hist[name].filter(p=>(now-p.t)<60000).slice(-20);\n    sats.push({name, inc:+inc.toFixed(1), el:+el.toFixed(2), az:+az.toFixed(2), lat, lon, trail:hist[name]});\n}\n\n// Issue #4 fix: prune dead satellite keys from satHistory\nconst visibleNames = new Set(sats.map(s => s.name));\nObject.keys(hist).forEach(k => { if (!visibleNames.has(k)) delete hist[k]; });\nglobal.set('satHistory', hist);\n\nsats.sort((a,b) => b.el - a.el);\nconst tleFetchedAt = global.get('tleFetchedAt') || 0;\nconst tleAgeMs = now - tleFetchedAt;\nreturn [{ payload: { sats: sats.slice(0,300), meta: { count:sats.length, tleAgeMs, ts:now } } }];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 640,
        "wires": [
            [
                "9f4f3961706a93e3",
                "e98b2d723b4970bb"
            ]
        ]
    },
    {
        "id": "9f4f3961706a93e3",
        "type": "debug",
        "z": "25dceb91744b787a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "182bda12811bbba7",
        "type": "inject",
        "z": "25dceb91744b787a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "63d11b6089f4aab0"
            ]
        ]
    },
    {
        "id": "874b05eccfe15c60",
        "type": "file",
        "z": "25dceb91744b787a",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 700,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1306bbd77c831dff",
        "type": "change",
        "z": "25dceb91744b787a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "\"/data/sat_\" & $millis() * \".csv\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "874b05eccfe15c60"
            ]
        ]
    },
    {
        "id": "ebd30e47765409ed",
        "type": "function",
        "z": "25dceb91744b787a",
        "name": "f(x): CSV to Memory",
        "func": "// Save the raw text into global memory so other nodes can access it\nglobal.set(\"rawStarlinkData\", msg.payload.toString());\nreturn null; // Stop the message here so it doesn't trigger the map graph yet",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ed7d2e6c96848e62",
        "type": "inject",
        "z": "25dceb91744b787a",
        "name": "Frame Generator",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 580,
        "wires": [
            [
                "7ea6a0d593172a5a"
            ]
        ]
    },
    {
        "id": "e98b2d723b4970bb",
        "type": "ui-chart",
        "z": "25dceb91744b787a",
        "group": "68132537e5f798e3",
        "name": "",
        "label": "chart",
        "order": 1,
        "chartType": "scatter",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "linear",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "-90",
        "xmax": "90",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "-90",
        "ymax": "90",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 610,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "07ec439959f1cade",
        "type": "inject",
        "z": "25dceb91744b787a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 390,
        "y": 780,
        "wires": [
            [
                "e98b2d723b4970bb"
            ]
        ]
    },
    {
        "id": "68132537e5f798e3",
        "type": "ui-group",
        "name": "Group 1",
        "page": "118a9c8853ce3a29",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "118a9c8853ce3a29",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "776d725043927eb6",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "d4a9b35c242745c2",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "776d725043927eb6",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control",
            "ui-chart"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "d4a9b35c242745c2",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ba3820e824dfecc9",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    },
    {
        "id": "flows_check_cache",
        "type": "function",
        "z": "25dceb91744b787a",
        "name": "Check Cache Age",
        "func": "// Check if local cache is fresh enough (< 2 hours)\n// Issue #5: also pre-parse CSV on load\nconst CACHE = '/data/starlink_tle_cache.csv';\nconst TWO_HOURS = 2 * 60 * 60 * 1000;\ntry {\n    const stat = fs.statSync(CACHE);\n    const age  = Date.now() - stat.mtimeMs;\n    if (age < TWO_HOURS) {\n        const data = fs.readFileSync(CACHE, 'utf8');\n        global.set('rawStarlinkData', data);\n        global.set('parsedSats', parseCsv(data));\n        global.set('tleFetchedAt', stat.mtimeMs);\n        global.set('satHistory', {});\n        node.status({fill:'green', shape:'dot', text:`cache ${Math.round(age/60000)}m old`});\n        return null;\n    }\n} catch(e) { /* no cache yet */ }\nreturn msg;\n\nfunction parseCsv(raw) {\n    return raw.split('\\n').slice(1).map(line => {\n        const r = line.split(',');\n        if (r.length < 9 || !r[0] || !r[0].startsWith('STARLINK')) return null;\n        const n=+r[3], inc=+r[5], raan=+r[6], argp=+r[7], M0=+r[8];\n        if ([n,inc,raan,argp,M0].some(isNaN)) return null;\n        // Issue #1 fix: append Z so epoch is parsed as UTC, not local time\n        const epoch = new Date(r[2].trim() + 'Z').getTime();\n        if (!epoch || isNaN(epoch)) return null;\n        return { name:r[0].trim(), n, inc, raan, argp, M0, epoch };\n    }).filter(Boolean);\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 200,
        "y": 40,
        "wires": [
            [
                "1d1426e4400ad2d2"
            ]
        ]
    },
    {
        "id": "flows_handle_resp",
        "type": "function",
        "z": "25dceb91744b787a",
        "name": "HTTP OK?",
        "func": "// Route: success \u2192 port 1, HTTP error \u2192 port 2 (cache fallback)\nif (msg.error || (msg.statusCode && msg.statusCode !== 200)) {\n    node.warn('HTTP fetch failed (' + (msg.error || msg.statusCode) + ') \u2014 trying cache');\n    return [null, msg];\n}\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 40,
        "wires": [
            [
                "flows_save_store"
            ],
            [
                "flows_load_cache"
            ]
        ]
    },
    {
        "id": "flows_save_store",
        "type": "function",
        "z": "25dceb91744b787a",
        "name": "Save & Store TLE",
        "func": "// Issue #1, #5: Save TLE, parse once on fetch\nconst CACHE = '/data/starlink_tle_cache.csv';\nconst now = Date.now();\ntry { fs.writeFileSync(CACHE, msg.payload); } catch(e) { node.warn('Cache write failed: ' + e.message); }\nglobal.set('rawStarlinkData', msg.payload);\nglobal.set('parsedSats', parseCsv(msg.payload));\nglobal.set('tleFetchedAt', now);\nglobal.set('satHistory', {});\nnode.status({fill:'blue', shape:'dot', text:`fetched ${new Date(now).toLocaleTimeString()}`});\nreturn null;\n\nfunction parseCsv(raw) {\n    return raw.split('\\n').slice(1).map(line => {\n        const r = line.split(',');\n        if (r.length < 9 || !r[0] || !r[0].startsWith('STARLINK')) return null;\n        const n=+r[3], inc=+r[5], raan=+r[6], argp=+r[7], M0=+r[8];\n        if ([n,inc,raan,argp,M0].some(isNaN)) return null;\n        // Issue #1 fix: append Z so epoch is parsed as UTC, not local time\n        const epoch = new Date(r[2].trim() + 'Z').getTime();\n        if (!epoch || isNaN(epoch)) return null;\n        return { name:r[0].trim(), n, inc, raan, argp, M0, epoch };\n    }).filter(Boolean);\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 680,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "flows_load_cache",
        "type": "function",
        "z": "25dceb91744b787a",
        "name": "Load Cache Fallback",
        "func": "// HTTP failed \u2014 load from cache file as fallback\nconst CACHE = '/data/starlink_tle_cache.csv';\ntry {\n    const data = fs.readFileSync(CACHE, 'utf8');\n    const stat = fs.statSync(CACHE);\n    global.set('rawStarlinkData', data);\n    global.set('parsedSats', parseCsv(data));\n    global.set('tleFetchedAt', stat.mtimeMs);\n    global.set('satHistory', {});\n    node.status({fill:'yellow', shape:'ring', text:`HTTP err, using cache ${new Date().toLocaleTimeString()}`});\n} catch(e) {\n    node.error('HTTP fetch failed and no cache available: ' + e.message);\n}\nreturn null;\n\nfunction parseCsv(raw) {\n    return raw.split('\\n').slice(1).map(line => {\n        const r = line.split(',');\n        if (r.length < 9 || !r[0] || !r[0].startsWith('STARLINK')) return null;\n        const n=+r[3], inc=+r[5], raan=+r[6], argp=+r[7], M0=+r[8];\n        if ([n,inc,raan,argp,M0].some(isNaN)) return null;\n        // Issue #1 fix: append Z so epoch is parsed as UTC, not local time\n        const epoch = new Date(r[2].trim() + 'Z').getTime();\n        if (!epoch || isNaN(epoch)) return null;\n        return { name:r[0].trim(), n, inc, raan, argp, M0, epoch };\n    }).filter(Boolean);\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 680,
        "y": 60,
        "wires": [
            []
        ]
    }
]